<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/cells-product-item/cells-product-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="account-transaction.html">
<link rel="import" href="account-creation.html">

<dom-module id="account-customer">
  <template is="dom-if" if="[[!storedUser.loggedin]]">
    <style include="shared-styles"></style>
    <iron-localstorage
    name="user-storage"
    value="{{storedUser}}"
    on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <div  id="authenticated" hidden$="[[!visibility]]">

    <account-creation on-accountcreated="getAccountCustomer"></account-creation>
      <app-data key="userData" data="{{storedUser}}"></app-data>

      <iron-ajax
      id="getAccountCustomertAjax"
      method="post"
      url="http://localhost:3000/getaccounts"
      handle-as="json"
      last-response="{{accountCustomer}}"
      body ='{"idusuario": "{{storedUser.idUsuario }}"}'
      content-type="application/json"
      auto=true>
      </iron-ajax>
            <template is="dom-repeat" items="[[accountCustomer]]">
                <div class="card">
                    <cells-product-item
                    img-src="images/account_icon.png"
                    heading-level="[[_listItemHeadingLevel]]"
                    name="[[item.name]]"
                    description="[[item.description]]"
                    primary-amount="[[item.primaryAmount]]"
                    secondary-amount="[[item.secondaryAmount]]"
                    scale="[[item.scale]]"
                    local-currency="EUR"
                    img-overlay-icon="coronita:on"
                    on-click="handleClick">
                    </cells-product-item>
                </div>
              </template>
      </div>
      <div >
        <account-transaction hidden$="[[visibility]]" id="transaction"></account-transaction>
      </div>
        <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login"> login
  </template>

  <script>
  window.I18nMsg = {};
  window.I18nMsg.url = '../locales';
  window.CellsBehaviors.i18nBehavior
    class Account extends Polymer.Element {
      static get is() { return 'account-customer'; }

      static get properties() {
        return {

          storedUser: Object,
          balance: {
            type: Array,
            notify: true
          },
          accountCustomer: {
            type: Array,
            notify: true
          },
          visibility: {
            type: Boolean,
            value:false
          },
          visibility_transaction: {
            type: Boolean,
            value:false
          },
          headingLevel: {
            type: Number,
            value: 2
          },
          _listItemHeadingLevel: {
            type: Number,
            computed: '_computeListItemHeadingLevel(headingLevel)'
          },
          /**
           * ID of the tapped product in the list.
           * Changes whenever a product is tapped
           */
          productId: String

        };
      }

    getAccountCustomer() {
        //console.log('entra en cuenta i es'+ this.visibility);
        this.$.getAccountCustomertAjax.generateRequest();
    }


    handleClick(event) {
      //console.log('Objeto evento',event.model.item.id);

      this.visibility=false;

      if (event.model.item) {
          this.$.transaction.visibility=true;
          this.$.transaction.getAccountTransaction( event.model.item);
      }

    }

    _computeListItemHeadingLevel(headingLevel) {
        //console.log('headingLevel evento', this.accountCustomer);
      return headingLevel > 0 ? headingLevel + 1 : headingLevel;
    }


  }

    window.customElements.define(Account.is, Account);
  </script>
</dom-module>
