
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/cells-iron-transactions-list/cells-iron-transactions-list-styles.html" >
 <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="account-customer.html">
<link rel="import" href="../bower_components/cells-product-item/cells-product-item.html">
<link rel="import" href="../bower_components/cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../bower_components/cells-iron-transactions-list/cells-iron-transactions-list.html">
<link rel="import" href="../bower_components/cells-iron-transactions-list/cells-iron-transactions-list-styles.html" >
<dom-module id="account-transaction">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>




    <div class="card" hidden$="[[!storedUser.loggedin]]">
      <iron-localstorage
          name="user-storage"
          value="{{storedUser}}"
          on-iron-localstorage-load="initStoredUser"></iron-localstorage>

      <app-data key="userData" data="{{storedUser}}"></app-data>

      <iron-ajax
      id="getAccountTransactiontAjax"
      method="post"
      url="http://localhost:3000/gettransaction"
      handle-as="json"
      last-response="{{transactions}}"
      on-response="handleTransactionResponse"
      body ='{"id": "{{productId}}"}'
      content-type="application/json"
      auto=true>
      </iron-ajax>

       <ul class="item-list">
        <cells-iron-transactions-list hidden$="[[!visibility]]" id="list"></cells-iron-transactions-list>
      </ul>
    </div>
      <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login"> login
  </template>

  <script>
      class AccountTransaction extends Polymer.Element {
        static get is() { return 'account-transaction'; }
        static get properties() {
          return {
            storedUser: Object,
            productId:String,
            transactions: {
              type: Array
            },
            balance: {
              type: Array
            },
            visibility: {
              type: Boolean,
              value:false
            },
            headingLevel: {
              type: Number,
              value: 2
            }
          };
      }


      getAccountTransaction(event) {
        //console.log("transaccion "+ event.id);
        this.productId =event.id;
        this.balance=event;
        this.$.getAccountTransactiontAjax.generateRequest();
      }

      handleTransactionResponse(event) {
          //console.log("response: "+  this.transactions);
          this.$.list.transactions=this.transactions;
          var people = this.$.list.transactions;
      }
}

    window.customElements.define(AccountTransaction.is, AccountTransaction);
  </script>
</dom-module>
