<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="account-transaction.html">

<dom-module id="account-creation">
  <template>

    <!--Añadir una cuenta-->
    <br>
    <label><b>Nombre de la cuenta</b></label>
    <input type="text" value="{{nombreCuenta::input}}" id="descripcioncuenta" required>

    <button on-click="anadirCuentaMlab">Añadir un cuenta</button>
    <label><b>{{msgString}}</b></label>

    <iron-localstorage
        name="user-storage"
        value="{{storedUser}}"
        on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <app-data key="userData" data="{{storedUser}}"></app-data>

      <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login"> login
  </template>

  <script>
  window.I18nMsg = {};
  window.I18nMsg.url = '../locales';

    class AccountCreation extends Polymer.Element {
      static get is() { return 'account-creation'; }

      static get properties() {
        return {

          storedUser: Object,
          balance: {
            type: Array,
            notify: true
          },
          visibility: {
            type: Boolean,
            value:true
          },
          idUsuario: {
            type: Number,
            value: 10000
          },
          idCuenta: {
            type: Number,
            value: 1234567890
          },
          nombreCuenta: {
            type: String,
            value: 'Cuenta Nueva'
          },
          msgString: {
            type: String,
            value: ''
          },
          nuevaCuenta: {
            type: Object
          },
          /**
           * ID of the tapped product in the list.
           * Changes whenever a product is tapped
           */
          productId: String

        };
      }


    anadirCuentaMlab() {
      if(!this.storedUser.loggedin){
        alert("Debes hacer login antes de realizar esta operación")
      }
      else {
        this.idUsuario = Number(this.storedUser.idUsuario);
        this.crearCuentaVacia();
        this.setIdCuenta();
        var request = new XMLHttpRequest();
        //request.open("POST", "http://servidorback/cuentas", false);
        request.open("POST", "http://localhost:3000/accounts", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        this.nuevaCuenta.idusuario = this.idUsuario;
        this.nuevaCuenta.id = this.idCuenta;
        this.nuevaCuenta.name = this.nombreCuenta;
        this.nuevaCuenta.description.value = this.nuevaCuenta.description.value.concat(String(this.idCuenta));
        var body = JSON.stringify(this.nuevaCuenta);
        request.send(body);
        this.respuesta = request.responseText;
        if(request.responseText=="OK")
        {
          this.msgString = "Cuenta Creada";
          this.dispatchEvent(new CustomEvent('accountcreated', {}));
        }
        else
        {
          this.msgString = "Error al crear cuenta, intenta de nuevo";
        }
      }
    }

    setIdCuenta() {
      var request = new XMLHttpRequest();
      //request.open("GET", "http://servidorback/cuentas", false);
      request.open("GET", "http://localhost:3000/lastaccountmlab/"+this.idUsuario, false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      var obj = JSON.parse(request.responseText);
      this.idCuenta = obj[0].id;
      this.idCuenta = this.idCuenta + 1;
    }

    crearCuentaVacia(){
      var account = {};
      account.idusuario =0;
      account.id=0;
      account.name="";
      var description ={};
      description.value="ES99 1983 ";
      description.masked=true;
      account.description = description;
      var primaryAmount = {};
      primaryAmount.amount=0;
      primaryAmount.currency="EUR";
      primaryAmount.label="Available";
      account.primaryAmount=primaryAmount;
      account.scale = 0;
      var status={};
      status.id = "ACTIVATED";
      status.description = "ACTIVATED";
      account.status=status;
      this.nuevaCuenta = account;
    }
}

    window.customElements.define(AccountCreation.is, AccountCreation);
  </script>
</dom-module>
