<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/juicy-html/juicy-html.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<dom-module id="busqueda-inbenta">
  <link rel="import" type="css" href="../ccs/busqueda-inbenta.css">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
    <div class="row">
      <h1 class="col-lg-12">Buscador</h1>
      <br>
      <!-- <img src="https://s3-eu-west-1.amazonaws.com/e032493techu/634143ef-1bc6-47ca-9414-c4c15e2de364.png" alt="KOGD Bank"> -->
  <input id="campobusqueda" type="text" value="{{campoBusqueda::input}}" placeholder="Search.." name="search">
  <button type="submit" on-click="hacerBusqueda"><i class="fa fa-search"></i></button>

      <table id="searchresults" hidden$="{{noCargados}}">
          <tr>
          <th>FAQ</th>
          <th>Respuesta</th>
        </tr>
        <tbody>
          <template is="dom-repeat" items="{{respuestas}}">
  <tr>
              <td>
                <juicy-html html="<b>{{item.title}}</b><br><br>"></juicy-html>
              </td>
              <td>
                  <juicy-html html="{{item.answer}}<br><br>"></juicy-html>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    </div>
  </template>
  <script>

  class BusquedaInbenta extends Polymer.Element {
    static get is() { return 'busqueda-inbenta'; }
    static get properties() {
      return {
        campoBusqueda: {
          type: String,
          value: ''
        },
        respuestas: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        }
      };
    }

    hacerBusqueda() {
        if(this.campoBusqueda.length < 4)
        {
          alert("Introduce más texto en el campo de búsqueda")
        }
        else {
          var request = new XMLHttpRequest();
          //request.open("GET", "http://servidorback/respuestas", false);
          request.open("GET", "http://localhost:3000/search/" + this.campoBusqueda, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          var obj = JSON.parse(request.responseText).results;
          this.respuestas = obj;
          this.noCargados = false;
        }
    }

}
  window.customElements.define(BusquedaInbenta.is, BusquedaInbenta);
  </script>
</dom-module>
