<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="register-customer.html">
<link rel="lazy-import" href="account-customer.html">
<link rel="lazy-import" href="busqueda-inbenta.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="app-data.html">
<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      app-header .greeting,
      app-header a {
          color: #fff;
          font-size: 13px;
      }
      app-header .greeting {
          border-right: 1px solid rgba(255,255,255,.5);
          display: inline-block;
          padding-right: 6px;
      }
      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      #imageWrapper {
        position: relative;
        height: 70%;
      } /* height is for display purposes only */
      #logotechu {
        position: absolute;
        bottom: 30px;
        width: 60%
      }


      #imageWrapper {
        position: relative;
        height: 70%;
      } /* height is for display purposes only */
      #logotechu {
        position: absolute;
        bottom: 150px;
        width: 60%
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
              <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
              <div main-title>Menú</div>

        </app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="register-login" hidden$="[[storedUser.loggedin]]">
            <a name="register-login" href="[[rootPath]]register-login">Login de Cliente</a>
          </div>
          <a name="register-customer" href="[[rootPath]]register-customer">Alta de Usuario</a>
          <a name="busqueda-inbenta" href="[[rootPath]]busqueda-inbenta">Búsqueda</a>
          <div name="account-customer" hidden$="[[!storedUser.loggedin]]">
            <a name="account-customer" href="[[rootPath]]account-customer">Cuentas</a>
          </div>

        </iron-selector>
        <div id="imageWrapper">
        <img src="https://s3-eu-west-1.amazonaws.com/e032493techu/logo-tech-u.svg" id="logotechu" alt="Tech U!">
        </div>
      </app-drawer>
      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>KOGD Bank</div>
              <img src="https://s3-eu-west-1.amazonaws.com/e032493techu/c06169ad-8e4e-4ad5-80ff-07ac97523d83.png" alt="KOGD Bank">
              <a name="register-login" href="/register-login" hidden$="[[storedUser.loggedin]]">Log In</a>
              <div hidden$="[[!storedUser.loggedin]]">
                  <span class="greeting">Hola [[storedUser.name]]!</span>
                  <log-out stored-user="{{storedUser}}" link></log-out>
              </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="my-view404"
            role="main">
          <register-login name="register-login"></register-login>
          <register-customer name="register-customer"></register-customer>
          <account-customer hidden$="[[!storedUser.loggedin]]" id="cuentas" name="account-customer"></account-customer>
          <busqueda-inbenta name="busqueda-inbenta"></busqueda-inbenta>
          <my-view404 name="my-view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'register-login';

                    if (page=="account-customer"){

                      this.$.cuentas.visibility=true;
                    //console.log("entra route account page seleccionada:" +this.$.cuentas.visibility);
                    }
        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        //console.log("page seleccionada:" +page);
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);

      }

      _showPage404() {
        this.page = 'my-view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
