<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="app-data.html">
<app-data key="userData" data="{{storedUser}}"></app-data>
<dom-module id="my-view404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <h1> Bienvenido a KOGD  Bank</h1>

      <ol class="breadcrumb">
        <img src="https://s3-eu-west-1.amazonaws.com/e032493techu/c06169ad-8e4e-4ad5-80ff-07ac97523d83.png" alt="KOGD Bank">
    </ol>
    <br />
    <br />
    <br />
    <span hidden$="[[!storedUser.loggedin]]">
        Si no tienes cuenta con nosotros, puedes click en Alta de usuario
    </span>

    <!--Oops you hit a 404. <a href="[[rootPath]]">retorno.</a>-->
  </template>

  <script>
    class MyView404 extends Polymer.Element {
      static get is() { return 'my-view404'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }
    }

    window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
