<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="app-data.html">
<link rel="import" href="log-out.html">
<link rel="import" href="account-customer.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      .paper-button.link {
        color: #757575;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>



    <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
      <div class="card">
        <app-data key="userData" data="{{storedUser}}"></app-data>

            <h1>Log In</h1>

            <p><strong>Accede con tu usuario o crea uno nuevo para empezar a operar</strong></p>

            <template is="dom-if" if="[[error]]">
                <p class="alert-error"><strong>Error:</strong> [[error]]</p>
            </template>

            <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
            <label>Usuario</label>
            <input type="text" value="{{usrString::input}}" id="uname" required>
            <label>Contraseña</label>
            <input type="password" value="{{pwdString::input}}" placeholder="Enter Password" name="psw" required>

            <iron-ajax
              id="registerLoginAjax"
              method="post"
              content-type="application/json"
              handle-as="json"
             last-response="{{data}}"
              on-response="handleUserResponse"
              on-error="handleUserError"></iron-ajax>

              <div class="wrapper-btns">
                  <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
                  <!-- <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>-->
              </div>
      </div>

    </div>
    <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
    <!--    <h2>Hello, [[storedUser.name]]!</h2>
        <p>You are currently logged in. You can access <a href="/account-customer">Accounts</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>-->
          <account-customer id="cuentas" name="account-customer"></account-customer>
    </div>

  </template>

  <script>

    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
      static get properties() {
        return {
          usrString: {
            type: String,
            value: 'User'
          },
          pwdString: {
            type: String,
            value: 'Password'
          },
          msgString: {
            type: String,
            value: ''
          },
          idUsuario: {
            type: Number,
            value: ''
          },
          data:{
              type: String,
                value: ''
          },
          storedUser: Object,
          error: String,

        };
      }
      _setReqBody() {
        var login={};
        login.login = this.usrString;
        login.password = this.pwdString;
        var body = JSON.stringify(login);
        this.$.registerLoginAjax.body = body;
        //console.log("body: "+this.$.registerLoginAjax.body);
      }

      postLogin() {
        this.$.registerLoginAjax.url = 'http://localhost:3000/login';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      handleUserResponse(event) {
          var response = JSON.parse(event.detail.response);

          if(response==-1)
          {
            this.error  = "Login incorrecto";
          }
          else
          {
              this.error = '';
              this.storedUser = {
                  name: this.usrString,
                  idUsuario: response,
                //  access_token: response.access_token,
                  loggedin: true
              };
              this.$.cuentas.visibility=true;
                /*  console.log("response: "+   this.storedUser.idUsuario);
                  this.set('route.path', '/account-customer');
                   this.set('routeData', {page:"account-customer"});*/
          }

          // reset form data
           this.usrString="";
          this.pwdString="";
      }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
