<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-customer">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      .paper-button.link {
        color: #757575;
      }
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }
    </style>

    <div class="card">
  <!--    <iron-ajax
          id="getCustomerAjax"
          auto
          url="http://localhost:3000/customer"
          method="post"
          handle-as="text"
          last-response="{{customer}}"></iron-ajax>

          <h1>Alta de nuevo Cliente</h1>
         <!--<blockquote>[[customer]]</blockquote>-->
         <div hidden$="{{createdUser}}">
         <label>Usuario</label>
         <br>
         <input type="text" value="{{usrString::input}}" placeholder="Tu login..." id="uname" required>
         <br><br>
         <label>Contraseña</label>
         <br>
         <input type="password" value="{{pwdString::input}}" placeholder="Tu contraseña..." name="psw" required>
         <br><br>
         <label>Nombre</label>
         <br>
         <input type="text" value="{{firstName::input}}" placeholder="Tu nombre..." id="fname" required>
         <br><br>
         <label>Apellido</label>
         <br>
         <input type="text" value="{{lastName::input}}" placeholder="Tu apellido..." id="lname" required>
         <br><br>
         <!--<button on-click="altaClientePostgre" type="submit">Crear Usuario</button>-->
         <!--<paper-button raised on-tap="getCustomer" class="primary">Registrar</paper-button>-->
         <paper-button raised on-tap="altaClientePostgre" class="primary">Registrar</paper-button>
         <br>
         </div>
         <label>{{msgString}}</label>

    </div>
  </template>

  <script>
    class RegisterCustomer extends Polymer.Element {
      static get is() { return 'register-customer'; }
      static get properties() {
        return {
          usrString: {
            type: String,
            value: ''
          },
          pwdString: {
            type: String,
            value: ''
          },
          firstName: {
            type: String,
            value: ''
          },
          lastName: {
            type: String,
            value: ''
          },
          msgString: {
            type: String,
            value: ''
          },
          idUsuario: {
            type: Number,
            value: ''
          },
          nuevaCuenta: {
            type: Object
          },
          createdUser: {
            type: Boolean,
            value: false
          }
        };
      }

      altaClientePostgre()
      {
        var request = new XMLHttpRequest();
        //request.open("POST", "http://servidorback/clientes", false);
        request.open("POST", "http://localhost:3000/customer", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var cliente={};
        cliente.login = this.usrString;
        cliente.password = this.pwdString;
        cliente.nombre = this.firstName;
        cliente.apellido = this.lastName;
        var body = JSON.stringify(cliente);
        request.send(body);
        if(request.responseText=="OK")
        {
          this.setIdUsuario();
          this.anadirCuentaInicial();
        }
        else
        {
          this.msgString = "Ese login ya existe, prueba con otro";
        }
      }

      setIdUsuario() {
        var request = new XMLHttpRequest();
        //request.open("GET", "http://servidorback/cuentas", false);
        request.open("GET", "http://localhost:3000/userid/"+this.usrString, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.idUsuario = Number(request.responseText);
      }

      anadirCuentaInicial() {
        this.crearCuentaVacia();
        var request = new XMLHttpRequest();
        //request.open("POST", "http://servidorback/cuentas", false);
        request.open("POST", "http://localhost:3000/accounts", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        this.nuevaCuenta.idusuario = this.idUsuario;
        this.nuevaCuenta.id = this.idUsuario*100+1;
        this.nuevaCuenta.name = "Cuenta Corriente " + this.firstName;
        this.nuevaCuenta.description.value = this.nuevaCuenta.description.value.concat(String(this.nuevaCuenta.id));
        var body = JSON.stringify(this.nuevaCuenta);
        request.send(body);
        this.respuesta = request.responseText;
        if(request.responseText=="OK")
        {
          this.msgString = "Usuario y Cuenta Creados. Realiza logn para empezar a operar";
          //this.dispatchEvent(new CustomEvent('accountcreated', {}));
          this.createdUser = true;
        }
        else
        {
          this.msgString = "Error al crear cuenta, intenta de nuevo";
        }
      }

      crearCuentaVacia(){
        var account = {};
        account.idusuario =0;
        account.id=0;
        account.name="";
        var description ={};
        description.value="ES99 1983 ";
        description.masked=true;
        account.description = description;
        var primaryAmount = {};
        primaryAmount.amount=0;
        primaryAmount.currency="EUR";
        primaryAmount.label="Available";
        account.primaryAmount=primaryAmount;
        account.scale = 0;
        var status={};
        status.id = "ACTIVATED";
        status.description = "ACTIVATED";
        account.status=status;
        this.nuevaCuenta = account;
      }

      getCustomer() {
          // get a quote from the API
          this.$.getQuoteAjax.generateRequest();
      }
    }

    window.customElements.define(RegisterCustomer.is, RegisterCustomer);
  </script>
</dom-module>
