* {
  box-sizing: border-box;
}

/* Style the search field */
input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#searchresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#searchresults td, #searchresults th {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 250px;
}

#searchresults tr:nth-child(even){background-color: #f2f2f2;}

#searchresults tr:hover {background-color: #ddd;}

#searchresults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4285f4;
    color: white;
}
